<h1>Conversations</h1>

<%= link_to 'New Mail', controller: "mailboxes", action: "new", id: 2 %>



<% @conversations.each do |conversation| %>
  <p>Sender:<%= link_to "#{conversation.user_id.first_name + " " + conversation.user_id.last_name }" , mailbox_path(conversation.id)%>, Receiver:<%= conversation.receiver_id %></p>

  <%= button_to 'Delete conversation', conversation_path(conversation.id), :method => 'delete' %>

<% end %>
