<h1>Relationships#index</h1>

<div>
  <% @users.each do |user| %>
  <p>
    <%= user.first_name  %>
    <%= user.last_name %>
    <%= user.id %>


    <%= button_to 'Like', '/relationship/new?userid=1&likee=<%@user.id%>', :method => 'get', :class => "btn btn-dark", form: {style: 'display:inline-block;'} %>

  </p>
<% end %>
</div>
