<h1>all users: <%= number_to_human User.count %></h1>
<% @users.each do |user| %>
<p>
  <%= user.email %>
</p>

<%= link_to 'Delete User', user_path(user), :method => 'delete', :data => { :confirm => 'Are you sure?' } %>

<% end %>
