<h1>Find your perfect match</h1>

<div class="potential-matches-container">

  <% @users.each do |user| %>

  <div class="matches-index-grid">


    <% if user.image.present? %>

    <div class="index-image-box">

      <%= link_to image_tag(user.image, :class => "index-image", :alt => user.first_name), user_path(user) %>
      <% end %>
    </div>

    <%= link_to "View #{user.first_name}", user_path(user) %>

    <% if @current_user.present? && @current_user.admin? %>

      <%= link_to 'Delete User', user_path(user), :method => 'delete', :data => { :confirm => 'Are you sure?' } %> <br />

      <% end %>

    <br />
  </div>

<% end %>

</div>
