<div class="home-page-container">

  <div class="btn-container">
  <div class="typewriter">

  <h1>//TODO: Meet You.</h1>
  </div>

  <div class="moto">
    <p>
      &lt;h3>You had me at "Hello World"&hearts;&lt;/h3>
    </p>
  </div>



    <%= link_to "Sign up", new_user_path, :class => "home-page-btn", :method => :get %>


    <%= link_to "Sign In ", login_path, :class => "home-page-btn", :method => :get %>
  </div>

</div>
