.nav-item {
  list-style-type: none;
  display: inline;

}


.convo-list {
  width: 40%;
  text-align: center;
  margin: 0 auto;
  background-color: blue;
}

.convo-list a {
  text-decoration: none;
  color: white;

}
.convo-list a:hover {
  text-decoration: underline;
  color: white;
}
