.nav-item {
  list-style-type: none;
  display: inline;

}


.convo-list {
  width: 40%;
  text-align: center;
  margin: 0 auto;
  background-color: blue;
}

.convo-list a {
  text-decoration: none;
  color: white;

}
.convo-list a:hover {
  text-decoration: underline;
  color: white;
}

#map {
  height: 90vh;
  width: 80%;
  margin: 0 auto;
  border: red solid 2px;
}



//////////////STYLING: USER INDEX///////////
.potential-matches-container {
  text-align: center;


  .matches-index-grid {
    display: inline-block;
    width: 24vw;

    .index-image {
      max-width: 22vw;
      max-height: 40vh;
    }
  }

}




///////STYLING: USER SHOW/PROFILE////////////
.user-image {
  max-width: 40vw;
}

/////////STYLING: EDIT PROFILE FORM//////////

.edit-page-img {
  max-width: 10vw;
}
