.nav-item {
  list-style-type: none;
  display: inline;

}


.blue {
  background-color: blue;
  color: white;
  display: block;
  width: 30%;

}

.you {
  display: block;
  margin: 0 auto;


}

.white{
  background-color: grey;
  color:white;
  display: block;
  width: 30%;
}
